{{define "title"}}Creation Station - Sign in{{end}}
{{define "main"}}
<div class="relative flex flex-col justify-center h-screen overflow-hidden">
  <div class="w-full p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-lg">
    <h1 class="text-3xl font-semibold text-center text-gray-700">Reset password</h1>
    <form class="space-y-4">
      <div>
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input type="text" placeholder="Email Address" class="w-full input input-bordered" />
      </div>
      <div>
        <button class="btn btn-block">Login</button>
      </div>
    </form>
  </div>
</div>
{{end}}